@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #011622;
  --text-color: #ffffff;
  --primary-accent-color: #64ffda;
  --secondary-accent-color: #03dac5;
  --button-color: #2196f3;
  --link-color: #9c27b0;
  --error-color: #ff5252;
  --success-color: #4caf50;
  --info-color: #2196f3;
  --border-color: #424242;
}

.bgColor {
    background-color: var(--background-color);
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
